@import "tailwindcss";

@custom-variant hover (&:hover);

@theme {
	--color-mystic-6: #6388c4;
	--color-mystic-5: #34496b;
	--color-mystic-4: #302f4e;
	--color-mystic-3: #5a417c;
	--color-mystic-2: #7d3e8f;
	--color-mystic-1: #ad3aad;
	--color-mystic-text: #ffe4ff;
}

.sniglet-regular {
	font-family: "Sniglet", system-ui;
	font-weight: 400;
	font-style: normal;
}

.sniglet-extrabold {
	font-family: "Sniglet", system-ui;
	font-weight: bold;
	font-style: normal;
}

.icon {
	mask-size: 100%;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	mask-position: center;
}

.progress-bar {
	-webkit-appearance: none;
	appearance: none;
	outline: none;
	background-image: linear-gradient(
		to right,
		#ad3aad 100%,
		rgba(0, 0, 0, 0) 100%
	);
}

.background-1 {
	background-image: repeating-linear-gradient(
		45deg,
		rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0) 2.5%,
		var(--color-mystic-2) 2.5%,
		var(--color-mystic-text),
		var(--color-mystic-2) 3%,
		rgba(0, 0, 0, 0) 3%,
		rgba(0, 0, 0, 0) 3.5%
	);
}

.scroll-area {
	scrollbar-width: auto; /* auto | thin | none */
	scrollbar-color: var(--color-mystic-2) transparent; /* thumb  track */
}
